---
layout: default
---

<section class="bg-primary pt-7 mb-6 pt-lg-7 mb-lg-7 text-white bg-layer-white-bottom-20-left-100 ">
  <div class="container">
    <div class="row h-100 text-white">
      <div class="col-lg-12">
        <h1 class="display-4 d-inline-flex">Technology. Data. Security.</h1>
        <p class="lead">We lend fresh perspectives and expertise to support existing solutions.<br />And blend 
          imagination and intelligence to forge new ones.</p>
        <div class="img-shifted shift-right py-12 py-lg-15" data-aos="fade-right">
          <div class="bg-image bg-cover bg-position-bottom-center" style="background-image: url(assets/images/photos/photo-03.jpg);" data-jarallax="" data-speed=".8">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="spt-7 pb-5" id="content" data-aos-easing="ease" data-aos-duration="750" data-aos-delay="0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 col-xl-12" data-aos="fade-right">
        <h2>Our Capabilities Are Geared to Delivery.</h2>
        <h3>Technology is great. Even greater? The insight to apply it.</h3>
        <p class="lead mb-3">
          We deliver actionable results after we've 
          fully digested the customer&#39;s guidelines and objectives. We take care 
          to meld with the current environment while constantly seeking opportunities to 
          foster innovation and meaningful change.
        </p>
        <h3>
          We overcome a broad array of mission challenges through the precise application 
          of established and emerging technologies.
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white pb-5 pt-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Feet on the Ground, Head in the Cloud.</h2>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 pr-md-7 mb-6 mb-lg-0">
        <p>
          At Whiteboard, we were among the first adopters of cloud technology,  
          and since its inception have been a major partner in delivering 
          solutions to AWS, Azure, commercial, and proprietary government clouds. 
          As the cloud has evolved, so have we. 
        </p>
        <p>Our team has developed significant expertise 
          in the data-driven sciences. We gather and parse huge volumes of information,  
          allowing for fresh, crucial, and actionable insights into 
          existing data sets and their varied applications across many platforms.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="row align-items-start">
          <div class="col-2">
            <span class="display-4 text-gray">01</span>
          </div>
          <div class="col pl-4">
            <p class="font-size-5">
              <strong>AI &amp; Machine Learning</strong><br>
              We actively harness the power of Machine Learning in fields like 
              Natural Language Processing to further the possibilities of data analysis.
            </p>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col-2">
            <span class="display-4 text-gray">02</span>
          </div>
          <div class="col pl-4">
            <p class="font-size-5">
              <strong>Amazon Web Services</strong><br>
              Whiteboard leads the way with experienced, AWS-certified engineers. 
              We deliver integrated solutions by leveraging AWS to shorten delivery times.
            </p>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col-2">
            <span class="display-4 text-gray">03</span>
          </div>
          <div class="col pl-4">
            <p class="font-size-5">
              <strong>Proprietary Cloud Systems</strong><br>
              Whiteboard has extensive experience with government clouds, which has led 
              us to partner in the delivery of critical solutions across a wide variety of programs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light pb-5 pt-7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>Full Stack, Front to Back.</h2>
        <div class="row font-size-5">
          <div class="col-lg-auto">
            <ul class="list-unstyled mb-6">
              <li class="mb-2">
                {% include svg/check.html %}
                Software Engineering
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Architecture
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Analytics
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Data Science
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Web Development
              </li>
            </ul>
          </div>
          <div class="col-lg-auto">
            <ul class="list-unstyled mb-6">
              <li class="mb-2">
                {% include svg/check.html %}
                Systems Engineering
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                AI &amp; Machine Learning
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Amazon Web Services
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Cyber Security
               </li>
               <li class="mb-2">
                 {% include svg/check.html %}
                 Dev Ops
                </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <p class="lead">
          Whiteboard specializes in offering timely and scalable engineering solutions 
          across the breadth of the community. Our engineers, data scientists, and 
          architects have helped solve many of the most pressing and mission-critical 
          issues that have faced the government customer over the past decade.  
        </p>  
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white pb-5 pt-7">
  <div class="container">
    <div class="row align-items-center">
      <h2>Let us know how we can help solve the challenges you face.</h2>
      <a class="lead" href="mailto:info@whiteboardfederal.com">
        <i class="fal fa-envelope mr-2"></i>info@whiteboardfederal.com
      </a>
      </div>
    </div>
  </div>
</section>
