---
layout: default
---
<section class="bg-light pt-7 pb-5" id="content" data-aos-easing="ease" data-aos-duration="750" data-aos-delay="0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 col-xl-12" data-aos="fade-right">
        <h2>Our mission is supporting The Mission.</h2>
        <p class="lead">
          Whiteboard works on site with a wide array of 
          government customers and prime contractors to address the most pressing 
          issues in the intelligence and defense communities.
          Our technologists have many years&#39; experience 
          successfully partnering with government customers on an array of missions;  
          our primary objective has always been to provide solutions in support of
          agencies that  require active security clearances. We seek top-tier 
          additions to our team because we believe that the primary differentiator 
          in mission success is the quality of talent on a program.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white pb-5 pt-7">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Feet on the Ground, Head in the Cloud.</h2>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 pr-md-7 mb-6 mb-lg-0">
        <p>
          At Whiteboard, we were among the first adopters of cloud technology,  
          and since its inception have been a major partner in delivering 
          solutions to AWS and proprietary government clouds. As the cloud 
          has evolved, so have we. 
        </p>
        <p>Our team has developed significant expertise 
          in the data-driven sciences. At bottom,  
          we help the government to gather and parse huge volumes of information. 
          This allows for fresh, crucial, and actionable insights into 
          existing data sets and their application.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="row align-items-start">
          <div class="col-2">
            <span class="display-4 text-gray">01</span>
          </div>
          <div class="col pl-4">
            <p class="font-size-5">
              <strong>AI &amp; Machine Learning</strong><br>
              We actively harness the power of Machine Learning in fields like 
              Natural Language Processing to further the possibilities of data analysis.
            </p>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col-2">
            <span class="display-4 text-gray">02</span>
          </div>
          <div class="col pl-4">
            <p class="font-size-5">
              <strong>Amazon Web Services</strong><br>
              Whiteboard leads the way with experienced, AWS-certified engineers. 
              We deliver integrated solutions by leveraging AWS to shorten delivery times.
            </p>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col-2">
            <span class="display-4 text-gray">03</span>
          </div>
          <div class="col pl-4">
            <p class="font-size-5">
              <strong>Proprietary Cloud Systems</strong><br>
              Whiteboard has extensive experience with government clouds, which has led 
              to us partnering to deliver critical solutions across a wide variety of programs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light pb-5 pt-7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>Full Stack, Front to Back.</h2>
        <div class="row font-size-5">
          <div class="col-lg-auto">
            <ul class="list-unstyled mb-6">
              <li class="mb-2">
                {% include svg/check.html %}
                Software Engineering
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Architecture
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Analytics
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Data Science
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Web Development
              </li>
            </ul>
          </div>
          <div class="col-lg-auto">
            <ul class="list-unstyled mb-6">
              <li class="mb-2">
                {% include svg/check.html %}
                Systems Engineering
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                AI &amp; Machine Learning
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Amazon Web Services
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Cyber Security
               </li>
               <li class="mb-2">
                 {% include svg/check.html %}
                 Dev Ops
                </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <p class="lead">
          Whiteboard specializes in offering timely and scalable engineering solutions 
          across the breadth of the DoD community. Our engineers, data scientists, and 
          architects have helped solve many of the most pressing and mission-critical 
          issues that have faced the government customer over the past decade.  
        </p>  
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white pb-5 pt-7">
  <div class="container">
    <div class="row align-items-center">
      <h2>Let us know how we can help solve the challenges you face.</h2>
      <a class="lead" href="mailto:info@whiteboardfederal.com">
        <i class="fal fa-envelope mr-2"></i>info@whiteboardfederal.com
      </a>
      </div>
    </div>
  </div>
</section>
