---
layout: default
---
<section class="bg-light mb-7" id="content" data-aos-easing="ease" data-aos-duration="750" data-aos-delay="0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col order-lg-last" data-aos="fade-left">
        <div class="img-shifted shift-right vh-75 py-12 py-lg-15">
          <div class="bg-image bg-cover" style="background-image: none; z-index: 0;" data-jarallax="" data-speed=".8" data-jarallax-original-styles="background-image: url(assets/images/photos/photo-28.jpg);">
            <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
              <div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(assets/images/photos/photo-28.jpg); position: absolute; top: 0px; left: 0px; width: 667px; height: 634.8px; overflow: hidden; pointer-events: none; margin-top: 53.6px; transform: translate3d(0px, -73.6px, 0px);">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-xl-8 order-lg-first py-6 py-lg-3" data-aos="fade-right">
        <h1>Supporting the Mission <em>is</em> our mission</h1>
        <p class="lead">Whiteboard Federal is a mid-sized, employee focused engineering company dedicated to solving mission problems. We believe that the primary differentiator in mission success is the quality of talent on a program. To that end, we focus on hiring only the best instead of filling seats.</p>
        <p class="lead">Below, you'll find a representative sample of our capabilities. We work with a variety of United States Government customers and contractors solving modern problems with cutting edge technologies. As our success in executing mission goals continues to broaden our horizons, we continue to add a variety of services.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white py-6 py-lg-7">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 pr-md-7 mb-6 mb-lg-0">
        <h2>Harnessing the Cloud</h2>
        Key points for Bruce:
        <ul>
          <li>Been around since the start</li>
          <li>Proprietary Gov Clouds & AWS</li>
          <li>AI & Machine Learning</li>
          <li>Partnering to deliver solutions</li>
        </ul>
        Rewrite this overblown horseshit: <br /> <br />
        <p>Whiteboard stands on the very edge of technology innovation, providing a variety of certified Big Data solutions, from rack and stack of cloud systems to advanced NoSQL analytic development. We stay out on the forefront by keeping our ear to the ground and our engineers up to date - which is why you'll find us leading the adoption of government cloud solutions with more of our engineers not only AWS certified but putting these skills to practice every day on site.</p>
      </div>
      <div class="col-lg-6">
        <div class="row align-items-start">
          <div class="col-2">
            <span class="display-4 text-gray">01</span>
          </div>
          <div class="col pl-4">
            <p class="font-size-5">
              <strong>AI &amp; Machine Learning</strong><br>
              We actively harness the power of machine learning in fields like 
              Natural Language Processing to further the possibilities of data analysis.
            </p>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col-2">
            <span class="display-4 text-gray">02</span>
          </div>
          <div class="col pl-4">
            <p class="font-size-5">
              <strong>Amazon Web Services</strong><br>
              Whiteboard leads the way with experienced, AWS-certified engineers. 
              We deliver integrated solutions by leveraging AWS to shorten delivery times.
            </p>
          </div>
        </div>
        <div class="row align-items-start">
          <div class="col-2">
            <span class="display-4 text-gray">03</span>
          </div>
          <div class="col pl-4">
            <p class="font-size-5">
              <strong>Proprietary Cloud Systems</strong><br>
              Whiteboard has extensive experience with government clouds, which has led 
              to us partnering to deliver critical solutions across a wide variety of programs.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light pb-6 py-md-7">
  <div class="container">
    <h2>Full Stack, Front to Back.</h2>
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="row font-size-5">
          <div class="col-lg-auto">
            <ul class="list-unstyled mb-6">
              <li class="mb-2">
                {% include svg/check.html %}
                Software Engineering
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Analytics
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Data Analysis
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Web Development
              </li>
            </ul>
          </div>
          <div class="col-lg-auto">
            <ul class="list-unstyled mb-6">
              <li class="mb-2">
                {% include svg/check.html %}
                Systems Engineering
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                AI &amp; Machine Learning
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Amazon Web Services
              </li>
              <li class="mb-2">
                {% include svg/check.html %}
                Cyber Security
               </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <p>Whiteboard delivers engineering solutions at all levels, 
          from full-stack software solutions and advanced systems engineering 
          to data science and cyber security. </p>  
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white py-6 py-lg-7">
  <div class="container">
    <div class="row align-items-center">
      <h2>Let us know how we can help solve the challenges you face:</h2>
      <a class="lead" href="mailto:info@whiteboardfederal.com">
        <i class="fal fa-envelope mr-2"></i>info@whiteboardfederal.com
      </a>
      </div>
    </div>
  </div>
</section>
