<!-- FOOTER -->
    <footer>

      <!-- copyright , scrollTo Top -->
      <div class="footer-bar">
        <div class="container">
          <span class="copyright">Copyright &copy; Whiteboard Federal Technologies Corporation. All Rights Reserved.</span>
          <a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
        </div>
      </div>
      <!-- copyright , scrollTo Top -->


      <!-- footer content -->
      <div class="footer-content">
        <div class="container">
          <div class="row">
            <!-- FOOTER CONTACT INFO -->
            <div class="column col-md-4">
              <h3>CONTACT US</h3>
              <address class="font-opensans">
                <ul>
                  <li class="footer-sprite address">
                    12001 Sunrise Valley Dr #202<br />
                    Reston, VA 20191<br />
                  </li>
                  <li class="footer-sprite phone">
                    Phone: (571) 526-4025
                  </li>
                  <li class="footer-sprite email">
                    <a href="mailto:info@whiteboardfederal.com">info@whiteboardfederal.com</a>
                  </li>
                </ul>
              </address>

            </div>
            <!-- /FOOTER CONTACT INFO -->


            <!-- FOOTER LOGO -->
            <div class="column logo col-md-4 text-center">
              <div class="logo-content">
                <h4>WHITEBOARD FEDERAL</h4>
              </div>                      
            </div>
            <!-- /FOOTER LOGO -->


            <!-- FOOTER LATEST POSTS -->
            <div class="column col-md-4 text-right">
              <h3>SOCIAL MEDIA</h3>
              <h4><a href="https://twitter.com/WhiteboardFed">@WhiteboardFed <i class="fa fa-twitter"></i></a>
              </h4>
              <h4><a href="https://www.linkedin.com/company/995214">LinkedIn <i class="fa fa-linkedin"></i></a>
              </h4>
            </div>
            <!-- /FOOTER LATEST POSTS -->

          </div>

        </div>
      </div>
      <!-- footer content -->

    </footer>

    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript" src="{{ "/assets/plugins/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/jquery.easing.1.3.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/jquery.cookie.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/jquery.appear.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/jquery.isotope.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/masonry.js" | prepend: site.baseurl }}"></script>

    <script type="text/javascript" src="{{ "/assets/plugins/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/magnific-popup/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/owl-carousel/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/stellar/jquery.stellar.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/knob/js/jquery.knob.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/jquery.backstretch.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/superslides/dist/jquery.superslides.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/mediaelement/build/mediaelement-and-player.min.js" | prepend: site.baseurl }}"></script>

    <!-- REVOLUTION SLIDER -->
    <script type="text/javascript" src="{{ "/assets/plugins/revolution-slider/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/slider_revolution.js" | prepend: site.baseurl }}"></script>


    <script type="text/javascript" src="{{ "/assets/js/scripts.js" | prepend: site.baseurl }}"></script>


    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
    <!--<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X', 'domainname.com');
      ga('send', 'pageview');
    </script>
    -->
