
<!-- Top Bar -->
    <header id="topHead">
      <div class="container">

        <!-- PHONE/EMAIL -->
        <span class="quick-contact pull-left">
          <i class="fa fa-phone"></i> (571) 526-4028 &bull; 
          <a class="hidden-xs" href="mailto:mail@yourdomain.com">info@whiteboardfederal.com</a>
        </span>
        <!-- /PHONE/EMAIL -->
      </div>
    </header>
    <!-- /Top Bar -->

    <!-- TOP NAV -->
    <header id="topNav" class="topHead"><!-- remove class="topHead" if no topHead used! -->
      <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Logo text or image -->
        <a class="logo" href="{{ "/index.html" | prepend: site.baseurl }}">
          <img src="{{ "/assets/images/logo.png" | prepend: site.baseurl }}" alt="Whiteboard Federal" style="height:60px;"/>
        </a>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
          <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
              <li role="presentation"><a href="#">Solutions</a></li>
              <li role="presentation"><a href="#">Partner With Us</a></li>
              <li role="presentation"><a href="{{ "/open-positions.html" | prepend: site.baseurl }}">Join The Team</a></li>
              <li role="presentation"><a href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <!-- /Top Nav -->

      </div>
    </header>

    <span id="header_shadow"></span>
    <!-- /TOP NAV -->
