
<!-- Top Bar -->
    <!-- TOP NAV -->
    <header id="topNav">
      <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Logo text or image -->
        <a class="logo" href="{{ "/index.html" | prepend: site.baseurl }}">
          <img src="{{ "/assets/images/logo.png" | prepend: site.baseurl }}" alt="Whiteboard Federal" style="height:60px;"/>
        </a>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse pull-right">
          <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main scroll-menu" id="topMain">
              <li role="presentation"><a href="{{ "/index.html" | prepend: site.baseurl }}">Home</a></li>
              <li role="presentation"><a href="{{ "/services.html" | prepend: site.baseurl }}">Capabilities</a></li>
              <li role="presentation"><a href="{{ "/open-positions.html" | prepend: site.baseurl }}">Join The Team</a></li>
              <li role="presentation"><a href="{{ "/philosophy.html" | prepend: site.baseurl }}">Why Work Here?</a></li>
              <li role="presentation"><a href="{{ "/contact.html" | prepend: site.baseurl }}">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <!-- /Top Nav -->

      </div>
    </header>

    <span id="header_shadow" style="top:80px;"></span>
    <!-- /TOP NAV -->
