---
layout: default
---
<!-- PAGE TITLE -->
<header id="page-title"> <!-- style="background-image:url('assets/images/demo/parallax_bg.jpg')" -->
	<!--
		Enable only if bright background image used
		<span class="overlay"></span>
	-->

	<div class="container">
		<h1>{{ page.title }}</h1>

		<ul class="breadcrumb">
			<li><a href="{{ "/index.html" | prepend: site.baseurl }}">Home</a></li>
			<li class="active">{{ page.title }}</li>
		</ul>
	</div>
</header>

<section class="container">
{{ content }}
</section>
